BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
#AllowShortBlocksOnASingleLine: Always
#AllowShortCaseLabelsOnASingleLine: true
#AllowShortIfStatementsOnASingleLine: true
#AllowShortLoopsOnASingleLine: true
#BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveMacros: Consecutive
